<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msi.familyhealth">

    <uses-permission android:name="android.permission.VIBRATE" />
    <permission
        android:name="com.example.msi.familyhealth.broadcast.permission"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".Clock.MyAlarmReceiver"
            android:permission="com.example.msi.familyhealth.broadcast.permission">
            <intent-filter>
                <action android:name="wyp.alarm.clock" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:theme="@style/MainTheme">

        </activity>
        <activity
            android:name=".MyData.MyDataActivity"
            android:theme="@style/DataTheme">

        </activity>
        <activity
            android:name=".Clock.ClockActivity"
            android:theme="@style/LoginTheme">

        </activity>
        <activity
            android:name=".Clock.ClockAddActivity"
            android:theme="@style/LoginTheme">

        </activity>
        <activity
            android:name=".Clock.ClockAlarmActivity"
            android:theme="@style/LoginTheme">


        </activity>
        <activity
            android:name=".HealthTips.HealthTipsActivity"
            android:theme="@style/HealthTheme">

        </activity>
        <activity
            android:name=".Position.PositonActivity"
            android:theme="@style/PositionTheme">

        </activity>
        <activity
            android:name=".Set.SetActivity"
            android:theme="@style/SetTheme">

        </activity>
        <activity
            android:name=".CheckData.CheckDataActivity"
            android:theme="@style/CheckDataTheme">

        </activity>

    </application>

</manifest>